body{
    background-color: #4DACB3 ;
}

.section1{
text-align: center;
background-color: #eeece5 ;
}

.title{
    color: #000000;
}
.subtitle{
color: #000000;}


.column1{
    background-color: black;
}

.box1{
color: #000000;}
.box2{
    color: #000000;}
